{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 100,
  "endOfLine": "crlf",
  "vueIndentScriptAndStyle": false,
  "bracketSpacing": true,
  "arrowParens": "always"
}
